[MAIN]
extension-pkg-whitelist=bpy,bpy_extras,AquaModelLibrary,Zamboni

[MESSAGES CONTROL]
disable=import-error,
        invalid-name,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        too-few-public-methods,
        too-many-arguments,
        too-many-branches,
        too-many-instance-attributes,
        too-many-lines,
        too-many-locals,
        too-many-public-methods,
        too-many-return-statements,
        unused-argument,

[TYPECHECK]
ignored-modules=AquaModelLibrary,Zamboni

[FORMAT]
good-names=d,ex,f,i,id
